@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.6rem;
    padding: 56px 0;
}

.header {
    width: 31.6rem;
    /*margin: 5.6rem auto 5.6rem auto;*/
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.header__title {
    color: var(--grey-500);
    line-height: 140%;
    letter-spacing: 0.025rem;
    font-size: 2.4rem;
    font-weight: 200;
}

.header__title-secondary {
    font-size: 2.4rem;
    font-weight: 600;
    display: block;
}

.header__description {
    color: var(--grey-500);
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0.01rem;
    font-weight: 400;
}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    justify-items: center;
    align-items: center;
    gap: 3.2rem;
}

.card {
    padding: 3.2rem;
    border-radius: 0.8rem;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);


    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 31.4rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
}

.card--decorator::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0.4rem;
    width: 100%;
}

.card--decorator-cyan::before {
    background-color: var(--cyan)
}

.card--decorator-red::before {
    background-color: var(--red);
}

.card--decorator-orange::before {
    background-color: var(--orange);
}

.card--decorator-blue::before {
    background-color: var(--blue);
}

.card__header {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.card__title {
    color: var(--grey-500);
    font-size: 2rem;
    line-height: 135%;
    font-weight: 600;
}

.card__description {
    color: var(--grey-400);
    font-size: 1.3rem;
    line-height: 160%;
    letter-spacing: 0.09px;
    font-weight: 400;
}

.card__image-wrapper {
    text-align: right;
}

.card__image {
    width: 6.4rem;
    height: 6.4rem;
}

@media (min-width: 768px) {
    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .card--team-builder {
        grid-column: 1 / 3;
        justify-self: center;
        grid-row: 1 / 2;
    }

    .card--supervisor {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .card--karma {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .card--calculator {
        grid-column: 1 / 3;
        justify-self: center;
        grid-row: 3 / 4;
    }

    .header {
        width: 54rem;
    }

    .header__title {
        font-size: 3.6rem;
    }

    .header__title-secondary {
        font-size: 3.6rem;
    }
}

@media (min-width: 1440px) {
    body {
        padding: 10.2rem 0;
    }

    .card {
        width: 35rem;
    }

    .card-wrapper {
        grid-template-rows: repeat(2, 1fr);
    }

    .card--supervisor {
        grid-column: 1 / 2;
        justify-self: center;
        grid-row: 1 / 3;
    }

    .card--team-builder {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .card--karma {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .card--calculator {
        grid-column: 3 / 4;
        justify-self: center;
        grid-row: 1 / 3;
    }
}